@font-face {
font-family: LatoBold;  
src: url(../fonts/lato.bold.ttf) format("truetype"); 
font-style: normal; 
font-weight: 700;
 }
 @font-face {
font-family: LatoSemiBold;  
src: url(../fonts/lato.semibold.ttf) format("truetype"); 
font-style: normal; 
font-weight: 600;
 }
 @font-face {
font-family: LatoRegular;  
src: url(../fonts/lato.regular.ttf) format("truetype"); 
font-style: normal; 
font-weight: normal;
 }

 @font-face {
  font-family: 'Rubl';
  src: local('Arial');
  unicode-range: U+20BD;
}

 